body {
  background-color: black;
  font-family: Helvetica;
  /*opacity: 0.7;*/
}

.wrapper {
  width: 960px;
  margin: 0 auto;
  background-color: brown;
  display: block;
}

/* Nav bar */

nav {
  z-index: 10;
  height: 30px;
  width: inherit;
  padding: 10px 0px 9px 0px;
  border-bottom: 1px solid seashell;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: teal;
}

nav h2 {
  margin: 0 10px;
  clear: left;
  color: white;
  font-size: 20px;
}

nav ul {
  clear: right;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
}

nav li {
  float: left;
  margin: 0px 10px;
  color: white;
  font-size: 20px;

}

/* Main display area */

main {
  display: flex;
}

.spacer {
  height: 50px;
}

.column-container {
  width: 50%;
/*  height: 600px;*/
  display: flex;
  flex-direction: column;
/*  overflow: scroll;*/
}

.group {
  opacity: 1;
}

.group:hover {
  opacity: 0.8;
}
.cell {
  min-height: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.cell h3 {
  margin: 0 1rem;
  font-size: 1.5rem;
  font-weight: bold;
}

/* to be changed for mobile */
.item {
  flex-direction: row;
  justify-content: space-between;
}

.item h3 {
  margin: 0px;
  max-width: 80%;
}

.item .quantity {
  width: 20%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.plus, .minus {
  border: 1px solid white;
  padding: 0.25rem;
  font-size: 1.2rem;
}

/*
svg {
  margin: 0 0.5rem;
  width: 80%;
}

.itemText {
  font-size: 1.5rem;
}
*/
